{% extends 'SkeletonView.twig' %}

{% block content %}
    <div class="content-form">
        <h1>Créer une nouvelle Entrée</h1>
        <form action="{{ url_for('entrees.create') }}" method="post" onsubmit="return validateCheckboxes()">
            <div class="group-input">
                <input type="text" name="nom" id="nom" placeholder="Nom" required>
                <input type="text" name="prenom" id="prenom" placeholder="Prénom" required>
            </div>
            <div class="group-input">
                <input type="text" name="fonction" id="fonction" placeholder="Fonction" required>
                <input type="text" name="num_bureau" id="num_bureau" placeholder="Numéro de bureau" required>
            </div>
            <div class="group-input">
                <input type="tel" name="num_fixe" id="num_fixe" placeholder="Numéro fixe">
                <input type="tel" name="num_mobile" id="num_mobile" placeholder="Numéro mobile" required>
            </div>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <label for="departements">Départements</label>
            <div id="departements">
                {% for departement in departements %}
                    <label>
                        <input type="checkbox" class="departement-checkbox" name="departements_id[]" value="{{ departement.id }}">
                        {{ departement.nom }}
                    </label><br>
                {% endfor %}
            </div>
            <label for="services">Services</label>
            <div id="services">
                {% for service in services %}
                    <label>
                        <input type="checkbox" class="service-checkbox" name="services_id[]" value="{{ service.id }}">
                        {{ service.nom }}
                    </label><br>
                {% endfor %}
            </div>
            <input type="hidden" name="csrf" value="{{ csrf }}">
            <input type="submit" value="Créer">
        </form>
    </div>

    <script>
        function validateCheckboxes() {
            const departementCheckboxes = document.querySelectorAll('.departement-checkbox');
            const serviceCheckboxes = document.querySelectorAll('.service-checkbox');

            const isDepartementChecked = Array.from(departementCheckboxes).some(checkbox => checkbox.checked);
            const isServiceChecked = Array.from(serviceCheckboxes).some(checkbox => checkbox.checked);

            if (!isDepartementChecked) {
                alert('Veuillez sélectionner au moins un département.');
                return false;
            }

            if (!isServiceChecked) {
                alert('Veuillez sélectionner au moins un service.');
                return false;
            }

            return true;
        }
    </script>
{% endblock %}